html,
body {
    font-size: 16px;
    width: 100%;
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
}

@media screen and (max-width:800px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width:400px) {
    body {
        font-size: 12px;
    }
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    line-height: 1.5em;
    box-sizing: border-box;
}

a,
.hover {
    cursor: pointer;
    user-select: none;
}

a {
    color: inherit !important;
    text-decoration: none !important;
    text-decoration-line: none !important;
}

h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.125em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.875em;
}

img {
    width: auto;
    height: auto;
}

.img,
.image,
.iImg {
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.img {
    background-size: contain !important;
}

.iImg {
    width: 1em;
    height: 1em;
    min-width: 1em;
    min-height: 1em;
    border-radius: 9em;
    display: block;
}

.rel {
    position: relative;
}

.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.middle {
    display: flex;
    justify-content: center;
}

.c_white,
.b_black {
    color: #fff;
}

.b_white {
    background-color: #fff;
}

.c_black,
.b_white {
    color: #2d2d2d;
}

.b_black {
    background-color: #2d2d2d;
}

.auto,
.inner {
    margin: 0 auto;
}

img.auto {
    display: block;
}

.inner {
    max-width: 75em;
}

.xMax {
    width: 100%;
}

.yMax {
    height: 100%;
}

.vTriangle {
    font-size: 20em;
    width: 100%;
    height: 1em;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0.5em;
}

.vTriangle::before {
    content: " ";
    margin: 0 -1em;
    border: 1em solid;
    border-color: #2d2d2d #fff #fff;
    transform: scaleX(5);
    position: absolute;
    left: 50%;
    top: -1px;
}

.cHouse {
    min-height: 2.5em;
    margin: -1.75em 0 0;
}

.cButton {
    width: 10em;
    height: 3em;
    line-height: 3em;
    font-weight: bold;
    text-indent: 0.05em;
    letter-spacing: 0.05em;
    border-radius: 0.25em;
}

.cRheast .logo {
    height: 8em;
    margin: 0 0 1em -1em;
}

.cRheast .head {
    height: 28em;
    margin: 0 0 2em;
    padding: 2.5em 0 0;
}

.cRheast .head h2 span {
    display: inline-block;
    margin: 0 0.5em;
}

.cRheast .head .cButton {
    margin-top: 5em;
}

@media screen and (max-width:800px) {
    .cRheast .head {
        padding: 3em 0 0;
    }

    .cRheast .head h2 span {
        margin: 0;
    }

    .cRheast .head .cButton {
        margin-top: 3.5em;
    }
}

@media screen and (max-width:400px) {
    .cRheast .head h2 {
        font-size: 1.375em;
    }
}

.cRheast .paper {
    margin-top: 3.5em;
}

.cRheast .paper span {
    margin-top: 0.25em;
}

.cRheast .paper label {
    display: block;
}

.cRheast .paper small {
    font-size: inherit;
}

.cRheast .paper a {
    margin-left: 0.75em;
    display: inline-block;
}

.cRheast .paper a+a {
    margin-left: 1.5em;
}

.cRheast .paper a:first-child {
    margin-left: 0;
}

.cRheast .paper img {
    height: 1em;
}

.cRheast .paper small {
    margin-right: 0.5em;
    display: inline-block;
}

.cRheast .word {
    padding: 4em 2em;
    overflow: hidden;
}

.cRheast .word h1 {
    padding: 0.5em 0;
    display: inline-block;
    border: 1px solid #2d2d2d;
    border-left: none;
    border-right: none;
    text-transform: uppercase;
}

.cRheast .b_black h1 {
    border-color: #fff;
}

.cRheast .word p {
    text-indent: 2em;
}

.cRheast .word h1+p {
    margin-top: 3em;
}

.cRheast .word p+p {
    margin-top: 2em;
}

.cRheast .word .user {
    font-size: 3em;
    margin: -0.5em 0;
    position: absolute;
    left: 0;
    top: 50%;
}

.cRheast .contact h4 {
    padding: 0.25em 0;
    padding-left: 4em;
}

.cRheast .contact h4 label {
    display: block;
}

.cRheast .contact dd {
    width: 33.33%;
    margin: 4em 0 0;
}

@media screen and (max-width:1000px) {
    .cRheast .contact dd {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .cRheast .contact dd {
        width: 100%;
    }
}

.cRheast .foot {
    padding: 2em 0;
}

.cRheast .foot .iImg {
    font-size: 2em;
    margin: 0 0.5em 0.5em;
}